name: DevSecOps Workflow 
run-name: DevSecOps Workflow run by ${{ github.actor }} and triggered by ${{ github.event_name }}
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  
jobs:
  CI_Frontend:
    runs-on: ubuntu-latest
    steps:
      - name: checkout The Repository
        uses: actions/checkout@v4

      - name: Install JavaScripts
        uses: actions/setup-node@v4
        with: 
          node-version: '18'

      - name: Cauche npm Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install Dependencies
        working-directory: ./Application-Code/frontend
        run: npm install 

      - name: Install Eslint
        run: |
          npm install eslint --save-dev
          npm install --save-dev typescript

      - name: Run Eslint
        working-directory: ./Application-Code/frontend
        run: npm run lint

      - name: Test Application
        working-directory: ./Application-Code/frontend
        run: npm test -- --coverage

      